{# Snippet for displaying a single resource #}

{% ckan_extends %}

{% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) }}<span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ h.get_translated(res, 'format') }}</span>
    {% if res.tracking_summary and res.tracking_summary.total >= 10 %}<span class="popular">popular</span>{% endif %}
  </a>
{% endblock %}